<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Deck Builder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</head>


<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="google.ie">Brand</a>
                <a class="btn btn-primary navbar-btn" href="/">Log Out</a>
            </div>
        </div>
    </nav>
</header>

<body>
<div class="container-fluid">
    <div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Admin Tools</h1>
				</div>
				<div class="list-group">
                    <a class="list-group-item" href="addCard">Add Card</a>
                    <a class="list-group-item" href="addUser">Add User</a>
                    <a class="list-group-item" href="info">Info</a>
				</div>
                <div class="panel-heading">
					<h1 class="panel-title">User Tools</h1>
				</div>
				<div class="list-group">
                    <a class="list-group-item" href="adminBuild">Build Deck</a>
                    <a class="list-group-item list-group-item-danger" href="dellDeck">Delete Deck</a>
				</div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Decks</h1>
            </div>
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Card Description</h3>
                    <p>Card Description</p>
                </div>
            </div>
            <div class="panel-heading">
                <h1 class="panel-title">Cards</h1>
            </div>
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>Card Description</h3>
                    <p>Card Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>



</html>