<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Deck Builder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="google.ie">Brand</a>
                <a type="button" class="btn btn-primary navbar-btn" href="login">Log In</a>
                <a type="button" class="btn btn-primary navbar-btn" href="signup">Sign Up</a>
            </div>
        </div>
    </nav>
</header>





</html>